<nav class="navbar navbar-expand-md navbar-dark bg-primary" *ngIf="loggedIn()">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">EMS</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/userlist']">Users</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/employeelist']">Employees</a>
      </li>
    </ul>
    
    <div class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welecome {{userService.decodedToken?.unique_name}}
      </a>
    
      <div class="dropdown-menu mt-3" aria-labelledby="dropdownMenuLink" *dropdownMenu > 
        <a class="dropdown-item"><i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a (click)="loggedOut()" class="dropdown-item"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>
  </div>
</nav>